{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body style="background-color: rgb(30, 29, 29);">
    <div class="container mt-5 "></div>
    <h2 class="text-center alert alert-danger col-sm-10 offset-1">SRI ADARSHA EM SCHOOL</h2>
    {% block content %} {% endblock content %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    
</body>
</html>